<% include header %>
<script type="text/javascript" src="js/three.min.js"></script>

<% include models %>

<div style="margin: 10px; color: white;position: absolute; z-index:200;"><%= id %> </div>

<div style="left:-50%; top:-50%; position: absolute; z-index:0; height: 200%; width: 200%;" id="map"></div>

<div style=" background-color: rgba(0, 0, 0, 0.0); position: absolute; z-index:2; height: 100%; width: 100%;"></div>

<canvas style="position: absolute; z-index: 100; width: 100%; height: 100%;"></canvas>

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/three.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript" src="js/main.js"></script>

<script>getFlightInfo('<%= id %>');</script>

<% include footer %>
