<% include header %>
<% include models %>

<div id="map"></div>

<div id="timeOverlay"></div>

<div id="weatherOverlay"></div>

<div id="interfaceOverlay">
	<div id="header">
		COMEFLYWI<i class="fa fa-plane"></i>HME
	</div>

	<form onsubmit="return checkFlight()">
		<input onkeydown="clearError()" placeholder="Flight number..."></input>
		<button>FLY</button>
	</form>

	<div id="credit">
		by DG &amp;&amp; MJM
	</div>

</div>

<script type="text/javascript" src="js/three.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="//js.arcgis.com/3.13/"></script>

<script type="text/javascript" src="js/dms.js"></script>
<script type="text/javascript" src="js/latlon.js"></script>
<script type="text/javascript" src="js/main.js"></script>


<% include footer %>
