body {
  background-color: transparent;
  margin: 0px;
  overflow: hidden;
  font-family: Monospace;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  text-align: center; }

a {
  color: #0078ff; }
